* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background-image: linear-gradient(rgba(255, 255, 255, 0.395), rgba(255, 255, 255, 0.395)), url(./assets/Images/Coffee\ espresso\ template1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: rgba(75, 35, 20);
}

/* Header Section */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 80px;
    height: 80px;
    margin-top: 10px;
    padding-left: 40px;
}

.links {
    margin-top: 20px;
    padding-right: 60px;
    display: flex;
    gap: 20px;
}

.links a {
    text-align: center;
    font-size: large;
    font-weight: bold;
    color: rgba(75, 35, 20);
    text-decoration: none;
    padding: 10px 20px;
    background-color: #ffffff6b;
    border-radius: 10px;
}

/* Home Section */
.main {
    display: flex;
    justify-content: space-between;
}

.main-heading {
    padding: 150px 70px;
    font-size: large;
}

.main-heading h1 {
    font-size: 50px;
}

.main-heading h1 span {
    font-size: 60px;
    font-style: normal;
    color: burlywood;
}

.main-heading p {
    padding: 5px 0;
}

.main-heading button {
    color: rgba(75, 35, 20);
    border: 1px solid rgba(75, 35, 20);
    padding: 10px;
    margin-left: 20%;
    margin-top: 15px;
    border-radius: 5px;
    background-color: transparent;
    font-weight: bolder;
}

.main-image img {
    width: 400px;
}

.main-image img {
    position: relative;
    animation: move 1s both;
}

@keyframes move {
    from {
        right: 0px;
    }

    to {
        right: 100px;
    }
}

.container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
}

#Coffee-Heading {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 80px;
    font-size: xx-large;


}

.container .coffee-img {
    width: 190px;
    height: 200px;
    border-radius: 10px;
    margin-bottom: 50px;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.265), rgba(0, 0, 0, 0.265)), url(./assets/Images/back4.jpg);
    text-align: center;
    color: #ffff;
    transition: transform 0.5s ease-in 0.09s;
}

.coffee-img:hover {
    transform: scale(1.1);
}

.coffee-img img {
    width: 150px;
    height: 130px;
    position: relative;
    top: -40px;
    border-radius: 50%;
}

.coffee-img h2 {
    margin-top: -15px;
}

.coffee-img p {
    font-size: 15px;
    padding: 5px;
}

.textimage-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 40px;
    margin-top: 5%;
}

.textimage-section img {
    width: 500px;
    margin-right: 40px;
}

.textimage-section p {
    text-align: justify;
    text-transform: capitalize;
    font-size: x-large;
    font-weight: 500px;
    font-family: cursive;
}




/* For Responsiveness  */

/* small screen */
@media(max-width:1000px) {
    .logo img {
        width: 70px;
        height: 70px;
        padding-left: 30px;
    }

    .links {
        padding-right: 50px;
    }

    .links a {
        padding: 10px 10px;
    }

    .main-heading {
        padding: 150px 50px;
    }

    .main-heading h1 {
        font-size: 35px;
    }

    .main-heading h1 span {
        font-size: 50px;
    }

    .main button {
        padding: 8px;
        margin-top: 8px;
    }

    .main-image img {
        width: 300px;
    }

    @keyframe move {
        from {
            right: 0px
        }

        to {
            right: 50px
        }
    }

    .container {
        display: flex;
        justify-content: space-evenly;
        margin-top: 90px;
    }

    .container .coffee-img {
        width: 190px;
        height: 190px;
    }

    .coffee-img img {
        width: 150px;
        height: 150px;
    }

    .coffee-img h2 {
        margin-top: -20%;
        font-size: large;
    }

    .coffee-img p {
        font-size: 13px;
        padding: 5px;

    }

    .textimage-section {
        padding: 40px 10px;
        margin-top: 30px;
    }

    .textimage-section img {
        width: 33%;
    }

    .textimage-section p {
        padding: 10px 20px;
        font-size: 2.7vh;
        font-weight: 400px;
    }
}



/* tabs */
@media(max-width:780px) {
    .logo img {
        width: 60px;
        height: 60px;
    }

    .links a {
        font-size: 2.7vh;
        padding: 5px;
    }

    .main-heading {
        padding: 150px 20px;
    }

    .main-heading h1 {
        font-size: 25px;
    }

    .main-heading h1 span {
        font-size: 40px;
    }

    .main-heading p {
        font-size: small;
    }

    .main button {
        padding: 5px;
    }

    .main-image img {
        width: 300px;
    }

    @keyframe move {
        from {
            right: 0px
        }

        to {
            right: 5%
        }
    }

    .container .coffee-img {
        width: 150px;
        height: 170px;
    }

    .coffee-img img {
        width: 120px;
        height: 100px;
    }

    .coffee-img h2 {
        margin-top: -20px;
        font-size: medium;
    }

    .coffee-img p {
        font-size: 1.7vh;
    }

    .textimage-section {
        padding: 40px 0px;
        margin-top: 30px;
    }

    .textimage-section img {
        width: 30%;
    }

    .textimage-section p {
        font-size: 2vh;
        font-weight: 350px;
        padding: 0px 20px;
    }
}

/* mobile */
@media(max-width:420px) {
    .logo img {
        width: 50px;
        height: 50px;
        padding-left: 10px;
    }

    .links {
        padding-right: 10px;
    }

    .links a {
        font-size: 1.7vh;
        padding: 5px 5px;
    }

    .main-heading {
        padding: 150px 20px;
    }

    .main-heading h1 {
        font-size: 3vh;
    }

    .main-heading h1 span {
        font-size: 5vh;
    }

    .main-heading p {
        font-size: 2vh;
    }

    .main button {
        padding: 6px;
        margin-left: 5px;
        font-size: 2vh;
    }

    .main-image img {
        width: 200px;
        margin-top: 90px;
        margin-left: 40%;

    }

    @keyframe move {
        from {
            right: 0px
        }

        to {
            right: 5%
        }
    }

    .container {
        display: grid;
        grid-template-columns: 1;
        gap: 30px;
        margin-top: 30px;
        margin-bottom: 70px;
    }

    .container .coffee-img {
        width: 250px;
        height: 220px;
    }

    .coffee-img img {
        width: 180px;
        height: 150px;
    }

    .coffee-img h2 {
        margin-top: -15px;

    }

    .coffee-img p {
        padding: 5px;
    }

    .textimage-section {
        display: grid;
        padding: 0;
        margin: 0;
        margin-bottom: 60px;
    }

    .textimage-section img {
        width: 140px;
        display: block;
        margin: 0 auto;
    }

    .textimage-section p {
        font-size: 2.6vh;
        font-weight: 300px;
        margin-right: 0;
        text-align: justify;
        padding-top: 20px;
    }
}